.main	{
	position	:	absolute;
	width		:	400px;
	margin-left	:	200px;	
	text-align	:	center;
	border		:	solid 1px #808080; 
	left		:	0px; 
	top		:	0px; 
	padding		:	5px; 
	font-size	:	small; 
	}

.joke   {
	position	: 	relative;
	margin		: 	0 auto;
	width		:	90%; 
	background-color:	#C6F66F; 
	padding		:	5px; 
	font-size       :       12px;
	font-family     :       Arial, Verdana, Tahoma;
	border          :       solid 1px lightgrey;
        }

.summary   {
	position	: 	relative;
	margin		: 	0 auto;
	width		:	90%; 
	background-color:	#C6F66F; 
	padding		:	5px; 
	font-size       :       10px;
	font-family     :       Arial, Verdana, Tahoma;
        }


.field_name	{
	font-weight	:	bold;
	font-size       :       12px;
	font-family     :       Arial, Verdana, Tahoma;
	}

fieldset {
	position	: 	relative;
	margin		: 	0 auto;
	width		:	60%; 
	background-color:	ghostwhite; 
	padding		:	5px; 
	}

.results {
	position	: 	relative;
	margin		: 	0 auto;
	width		:	90%; 
	background-color:	ghostwhite; 
	padding		:	5px; 
	font-weight     :       bold;
	border		:	solid 1px #808080; 
	}


.field_value input    {
        width           :       200px;
}

.field_value_medium input    {
        width           :       20px;
}

.field_char_medium input	{
	color: gray;
	width: 80%;  
	height: 50px; 
}

.field_char_large input	{
	color: gray;
	width: 80%;  
	height: 150px; 
}

.field_submit {
    text-align: center;
}

.joke_details_content {
    font-family     : courier;
    font-size       : 15pt;
    background-color: lightgrey;
    color           : black;
    border          : solid 2px grey;
}
    
.header {
    position        : relative;
    width           : 60%;
    margin-left     : 20%;
    border          : solid 1px lightgrey;
    background-color: ghostwhite;
    text-align      : center;
}


body {
    background-color: #B4F63D;
#    background-image: url(bg_02.jpg);
    height: 100%;
    width: 100%;
    color: black;
}    

.center {
    border:2px solid white;
    text-align: center;
    padding:0 0 10px 0;
    width: 100%;

}

.frame {
    background-image: url(images/small_orange.jpg);
    background-position: left top;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    padding: 70px 70px 70px 0;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

#left_pane {
    width: 15%;
    float: left;
}

#upper_menu ul {
    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

#upper_menu li {
    border-bottom: 1px solid white;
}

#upper_menu li a {
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    color: white;
    display: block;
    background-color: #82B22C;
}

#upper_menu a:hover {
    background-color: #639A00;
}


#logo_left {
    background-image: url(blazen_na_patyku_zielony.png);
    height: 450px;
    opacity: 1;
    background-repeat: no-repeat;
}


#central_pane {
    width: 40%;
    float: left;
}

#main_menu_left {
}

#right_pane {
    float: left;
    clear: right;
}

#main_menu_right {
    font-size: 15px;
}

#main_menu_right ul {
    display: block;
    background-color: #82B22C;
    margin: 0 50px 1px 0px;
    padding: 0 0 0 0;
}

#main_menu_right li {
    text-align: left;
    border-right: 50px solid #639A00;
}

#main_menu_right li {
    padding: 2px 2px 2px 2px;
    color: white;
}

#main_menu_right a {
    background-color: #82B22C;
    color: white;
    text-decoration: none;
    padding: 0 22px 0 22px;
    border-left: 10px solid #639A00;
}

#main_menu_right a:hover {
    background-color: #639A00;
}

#logo_right {
    background-image: url(fight_green.png);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

#lower_menu {
    clear:left;
    text-align: center;
    width: 80%;
}

#lower_menu a {
    border-left:10px solid #639A00;
    background-color: #82B22C;
    color: white;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
}

#lower_menu a:hover {
    background-color: #639A00;
}

#logo {
    font-size: 60px;
    background-color: #98ED00;
    text-color:white;
    width: 40%;
    float: left;
}

#sign {
    float: left;
    background-image: url(logo_blazny_01_male.png);
    height: 94px;
    width: 100px;
}    

.bar {
    background-color: #639A00;
    clear: both;
}

