<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title>{% block title %}{% endblock %}</title>
        
    {% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/book.css" />
    {% endblock %}

  </head>
  <body>

    {% block upper_menu %}
    <div>
      <a href="{{ PROJECT_ROOT }}/book/list/">Joke list</a>
      <a href="{{ PROJECT_ROOT }}/book/new/">Submit new joke</a>
      <a href="{{ PROJECT_ROOT }}/book/top/">The best of the best</a>
    </div>
    {% endblock %}


    <div id="menu"></div>
    <h2>{% block application-header %}{% endblock %}</h2>
    {% block application %}
    {% endblock %}
  </body>
</html>
