<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title>{% block title %}{% endblock %}</title>
        

    <link rel="stylesheet" type="text/css" href="/static/css/book.css" />


  </head>
  <body>
    
    <div id="logo">
      jokebook
    </div>
    
    <div id="sign">
    </div>
    
    <div class="bar">
      upper bar with some crazy pattern will be here
    </div>
    
    <div id="left_pane">
      <div id="upper_menu">
	<ul>
	  <li><a href="/book/list/">Joke list</a></li>
	  <li><a href="/book/new/">Submit new joke</a></li>
	  <li><a href="/book/top/">The best of the best</a></li>
	</ul>
      </div>
      
      <div id="logo_left">
      </div>
    </div>
    
    <div id="central_pane">
      <div id="menu"></div>
      <h2>{% block application-header %}{% endblock %}</h2>
      
      <div id="main_menu_left">
	{% block application %}
	{% endblock %}
      </div>
    </div>
    
    <div id="right_pane">
      <div id="main_menu_right">
	{% block right_side_menu %}
	{% endblock %}
      </div>
      <div id="logo_right">
      </div>
    </div>
    
    <div class="bar">
      lower bar with some crazy pattern will be here
    </div>
    
    <div id="lower_menu">
      {% block lower_menu %}
      {% endblock %}
    </div>
    
  </body>
</html>
