{% extends "base.html" %}

{% block application-header %} Details for joke no {{joke_for_details.id}} {% endblock %}

{% block title %}
Joke details
{% endblock %} 

{% block application %}

<div class="joke_details_content">
  {% if joke_for_details %} {{joke_for_details.content}} {% endif %}
</div>

<div>Author : {{joke_for_details.author}}     </div>
<div>created: {{joke_for_details.created}}    </div>
<div>rank   : {{joke_for_details.rank}}       </div>
<div>voted  : {{joke_for_details.votes}} times </div>

<a href="/book/details/{{previous_joke.id}}">Previous ({{previous_joke.id}})</a>
<a href="/book/details/{{next_joke.id}}">Next ({{next_joke.id}})</a>

{% endblock %}
