{% extends "base.html" %}

{% block application-header %} Details for joke no {{joke_for_details.id}} {% endblock %}

{% block title %}
Joke details
{% endblock %} 

{% block application %}

<div class="joke_details_content">
  {% if joke_for_details %} {{joke_for_details.content}} {% endif %}
</div>

{% endblock %}

{% block right_side_menu %}
<ol>
  <li>Author : {{joke_for_details.author}}     </li>
  <li>created: {{joke_for_details.created}}    </li>
  <li>rank   : {{joke_for_details.rank}}       </li>
  <li>voted  : {{joke_for_details.votes}} times </li>
  <li>  <a href="/book/vote/plus/{{ joke_for_details.id }}">Vote for plus (+)</a>
    <a href="/book/vote/minus/{{ joke_for_details.id }}">or for minus (-)</a></li>
  </ol>
      
{% endblock %}

{% block lower_menu %}
<a href="/book/details/{{previous_joke.id}}">Previous ({{previous_joke.id}})</a>
<a href="/book/details/{{next_joke.id}}">Next ({{next_joke.id}})</a>
{% endblock %}
