{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ PROJECT_ROOT }}/static/css/book.css" />
{% endblock %}

{% block application-header %}Joke book{% endblock %}
{% block title %}Joke book{% endblock %}


{% block application %}

{% for joke in all_jokes %}
<div>
    <div class="joke">{{ joke.content|linebreaks }}</div>
    <div class="summary"> 
      Created: {{ joke.created.date }} {{ joke.created|time:"H:i" }} 
      Rank: {{ joke.rank }} 
      Votes: {{ joke.votes }}
      Author: {{ joke.author }}
      <a href="{{ PROJECT_ROOT }}/book/vote_plus/{{ joke.id }}">(+)</a>
      <a href="{{ PROJECT_ROOT }}/book/vote_minus/{{ joke.id }}">(-)</a>
    </div>

</div>
{% empty %}
    <div>No jokes yet available.</div>
{% endfor %}

{% endblock %}
